altgraph==0.17.4 ; python_version >= "3.8" and python_version < "3.13"
importlib-metadata==7.1.0 ; python_version >= "3.8" and python_version < "3.10"
macholib==1.16.3 ; python_version >= "3.8" and python_version < "3.13" and sys_platform == "darwin"
packaging==24.0 ; python_version >= "3.8" and python_version < "3.13"
pefile==2023.2.7 ; python_version >= "3.8" and python_version < "3.13" and sys_platform == "win32"
pyinstaller-hooks-contrib==2024.3 ; python_version >= "3.8" and python_version < "3.13"
pyinstaller==6.5.0 ; python_version >= "3.8" and python_version < "3.13"
pywin32-ctypes==0.2.2 ; python_version >= "3.8" and python_version < "3.13" and sys_platform == "win32"
setuptools==69.2.0 ; python_version >= "3.8" and python_version < "3.13"
zipp==3.18.1 ; python_version >= "3.8" and python_version < "3.10"
